.container
  .row.new_roman.col-md-12
    = render :partial => 'render_text', :locals => { :answer => answer }
  .row.new_roman.col-md-12.phone_fields
    = a.hidden_field :answer
    %table
      %tr
        %td
          (
        %td
          = text_field_tag 'first', '', :class => 'form-control', :style => 'width: 65px'
        %td
          )
          &nbsp
        %td
          = text_field_tag 'second', '', :class => 'form-control', :style => 'width: 65px'
        %td
          = '-'
        %td
          = text_field_tag 'third', '', :class => 'form-control', :style => 'width: 65px'
        %td
          &nbsp
          ext
          &nbsp
        %td
          = text_field_tag 'ext', '', :class => 'form-control', :style => 'width: 95px'
        %td
  .row.new_roman.col-md-12
    = render :partial => 'render_example', :locals => { :answer => answer }

:javascript
  Answer.fill_phone();
