%div{ :class => ("toggle_#{ answer.template_field.toggle_id + answer.toggler_offset }" if !answer.template_field.toggle_id.nil?), :data => { :toggle_option => "#{ answer.template_field.toggle_option }" } }
  - answer.template_field.name.split('<option/>').each do |title|
    .container
      .col-md-12
        - title_array = title.split('<separate/>')
        %label.new_roman.radio{ :class => ('margin-left' if !answer.template_field.field_type.match('sub')) }
          = a.radio_button :answer, title_array.first.split(' /<spain/>').first
          = render :partial => 'render_text', :locals => { :answer => title_array.first }


    - if title_array.length > 1
      .container.marin-top-50
        = render :partial => 'render_text', :locals => { :answer => title_array.last }

  - if answer.kind_of?(DocumentAnswer) && flash.any?
    - if !answer.template_field.mandatory.nil? && answer.answer.nil? || !answer.template_field.mandatory.nil? && !answer.answer.match(answer.template_field.mandatory[:value])
      .container
        %span.alert-danger.padding-horizontal-10= answer.template_field.mandatory[:hint]
