- answer.template_field.to_text(@document).split('<option/>').each_with_index do |title, index|
  .container
    %div{ :class => return_row_class(title)}
      - title_array = title.split('<separate/>')
      %label.new_roman.radio{ :class => ('margin-left' if !answer.template_field.field_type.match('sub')) }
        = a.radio_button :answer, title_array.first.split(' /<spain/>').first, :class => "radio_#{ answer.template_step_id }"
        = render :partial => 'render_text', :locals => { :answer => title_array.first }
        %input{ :type => 'hidden', :value => answer.id }


  - if title_array.length > 1
    - if title_array.first.include?('<place_for_insert>')
      %div{ :class => ("place_for_insert_#{ answer.template_field.toggle_id + answer.toggler_offset + index }" if !answer.template_field.toggle_id.nil?) }
    .container.marin-top-50
      = render :partial => 'render_text', :locals => { :answer => title_array.last }

- if answer.kind_of?(DocumentAnswer) && flash.any?
  - if !answer.template_field.mandatory.nil? && answer.answer.nil? || !answer.template_field.mandatory.nil? && !answer.answer.match(answer.template_field.mandatory[:value])
    .container
      %span.alert-danger.mandatory-box
        = answer.template_field.mandatory[:hint].split('<spain/>').first
        %span.spain= answer.template_field.mandatory[:hint].split('<spain/>').last

- if answer.template_field.field_type.match /last\z/
  .col-md-12
    %br
    %hr
