%div{ :class => ("toggle_#{ answer.template_field.toggle_id + answer.toggler_offset }" if !answer.template_field.toggle_id.nil?), :data => { :toggle_option => "#{ answer.template_field.toggle_option }" } }
  .container
    .col-md-12.margin-left
      - answer.template_field.name.split('<option/>').each do |title|
        %label.new_roman.radio
          - if title.match /value/
            = a.radio_button :answer, title.scan(/\w+/).last
          - else
            = a.radio_button :answer, title.split(' /<spain/>').first

          = render :partial => 'render_text', :locals => { :answer => title }