.container
  .col-md-6
    %fieldset
      %legend
        Resend confirmation instructions
        %span.spain Vuelva a enviar instrucciones de confirmación

      = devise_error_messages!

      = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
        .form-group
          = f.email_field :email, :autofocus => true, :placeholder => 'Email address / Correo Electrónico', :class => 'form-control'
        .form-group
          = f.submit "Resend confirmation instructions / Vuelva a enviar instrucciones de confirmación", :class => 'btn btn-success btn-block'
        .form-group
          = render "devise/shared/links"