.container
  .col-md-6
    = form_for resource, :as => resource_name, :url => registration_path(resource_name), :id => 'registration-form', :class => 'form', :role => 'form' do |f|
      %fieldset
        %legend
          Sign up
          %span.spain Contratar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          - if controller_name != 'sessions'
            = link_to '<span class="prefix-style">Sign in </span><span class="spain">/ Iniciar sesi칩n</span>'.html_safe, new_session_path(resource_name)
            %br

        = devise_error_messages!
        = render :partial => 'layouts/messages'

        .form-group
          = f.email_field :email, :placeholder => 'Email address / Correo Electr칩nico', :class => 'form-control'
        .form-group
          = f.password_field :password, :placeholder => 'Password / Contrase침a', :class => 'form-control'
        .form-group
          = f.password_field :password_confirmation, :placeholder => 'Password confirm / Confirmar contrase침a', :class => 'form-control'

        .form-group
          = f.submit 'SIGN UP / CONTRATAR', :class => 'btn btn-default btn-block'

        /= render "devise/shared/links"