.jumbotron
  .container.new_roman
    %h3
      Recent documents /
      %span.spain Documentos recientes

    - if @documents.present?
      %h2.text-muted
        - if user_signed_in?
          Welcome Back /
          %span.spain Gracias por volver
      - document = @documents.sort_by(&:updated_at).first
      = link_to document_answer_path(document, 1) do
        = document.to_packet.split('<spain/>').first
        %span.spain= document.to_packet.split('<spain/>').last
      %br
    - else
      %hr
      You have no documents filed recently
      .spain No hay documentos presentados recientemente

.container.new_roman
  .col-md-4
    %h3
      %p
        %fieldset.btn-group{ :style => 'width: 100%' }
          %legend
            %span= 'Divorce'
            %span.spain= '/ Divorcio'
          - if @documents.present?
            - document = @documents.sort_by(&:updated_at).first
            = link_to document_review_path(document), :style => 'width: 50%', :class => 'btn btn-success new_roman' do
              = 'Continue / Continuar'
              / %span.spain= document.to_s.split('<spain/>').last
          = link_to 'New / Nuevo', template_documents_path(ActiveRecord::Base::Template.where(:name => Document::DIVORCE_COMPLAINT).first.id), :style => 'width: 50%', :class => 'btn btn-info new_roman', :method => :post, :data => {:confirm => 'Are you sure? This will delete existing file!'}
