.container
  .col-md-6
    %fieldset
      %legend
        Change password
        %span.spain Cambiar la contrase単a

      = devise_error_messages!

      .form-group
        = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
          = f.hidden_field :reset_password_token
          .form-group
            = f.password_field :password, :placeholder => "Password / Contrase単a", :autofocus => true, :class => 'form-control'
          .form-group
            = f.password_field :password_confirmation, :placeholder => "Password confirm / Confirmar contrase単a", :class => 'form-control'
          .form-group
            = f.submit "Change my password / Cambiar mi contrase単a", :class => 'btn btn-default btn-block'
          .form-group
            = render "devise/shared/links"