.jumbotron
  .container
    %h3
      Your documents /
      %span.spain Tus documentos

.container
  - if @documents.blank?
    %h4
      You have no Documents /
      %span.spain No hay Documentos
  - else
    %table.table
      %thead
        %tr
          %td
            %h4
              Documents /
              %span.spain Documentos
          %td

      - @documents.each_with_index do |document, index|
        %tr
          %td
            %h5
              = document.to_packet.split('<spain/>').first
              %span.spain= document.to_packet.split('<spain/>').last
          %td
            = link_to document_review_path(document), :class => 'btn btn-default' do
              .glyphicon.glyphicon-list-alt
              Review /
              %span.spain Revisar
          %td
            - if document.is_generated?
              - if current_user.paypal_payment_id.present?
                = render :partial => 'link_to_documents', :locals => { :document => document, :index => index }
              - else
                = link_to new_paypal_payment_path, :class => 'btn btn-primary modal_remote',
                  'data-target' => '#modal_window', 'data-toggle' => 'modal' do
                  .glyphicon.glyphicon-cloud-download
                  Pay to Download /
                  %span Pagar por descargar
              = render :partial => 'link_to_documents', :locals => { :document => document, :index => index }