- @amount_index = 0
- @answers.each do |answer|
  = f.fields_for 'answers[]', answer do |a|
    = a.hidden_field :template_field_id, :value => answer.template_field_id

    - if answer.template_field == @answers.first.template_field && !answer.template_field.template_step.amount_field_id.nil?
      - if answer.template_field.header_id.nil?
        .jumbotron.counter.new_roman
          .container
            %span{ :class => 'first_dependant_field' }
              = DocumentAnswer::NUMBER_NAME[@amount_index]
            %span{ :class => 'second_dependant_field' }
      - @amount_index += 1

    -#NOTICE: fields can contain toggle_x class, if so, they can't contain any other classes!!1
    - case answer.template_field.field_type
    - when /date|time/
      = render :partial => 'document_answers/fields/datetime', :locals => { :a => a, :answer => answer }

    - when /radio/
      = render :partial => 'document_answers/fields/radio', :locals => { :a => a, :answer => answer }

    - else
      = render :partial => "document_answers/fields/#{ answer.template_field.field_type }", :locals => { :a => a, :answer => answer }

    - case answer.template_field.field_type

    - when /last\z/
      .col-md-12
        %br

    - when 'date'
      .col-md-12
        %br