#questionare
  = form_for :document_answer, :url => (document_answer_update_path(@document, @answers.first.step_number, :review => params[:review])), :html => { :class => "form-horizontal", :role => 'form', :id => 'answer_form' } do |f|
    %input{ :type => 'hidden', :value => @document.id, :id => 'document_id' }
    %input{ :type => 'hidden', :value => @current_step, :id => 'step_id' }
    %input{ :type => 'hidden', :value => @review, :id => 'review_present' }

    .jumbotron
      .container
        - template_step = @answers.first.template_step
        = render :partial => 'render_text', :locals => { :answer => template_step.to_question_title(@document) }
        %hr
        = render :partial => 'render_text', :locals => { :answer => template_step.to_description(@document) }

    = render :partial => 'answers', :locals => { :f => f }

    .jumbotron
      .container
        .pull-left
          %table
            %tr
              - if template_step.to_i > 1
                %td
                  = link_to document_answer_path(@document, @document.skip_steps(template_step.to_i.pred, 'back'), :direction => 'back', :review => params[:review]), :class => 'btn btn-default' do
                    %span.new_roman Back /
                    %span.new_roman.spain Retroceder
              - else
                %td
                  = link_to root_path, :class => 'btn btn-default' do
                    %span.new_roman Back /
                    %span.new_roman.spain Retroceder

              - if @review.present?
                %td
                  = f.button :submit, :class => 'btn btn-default new_roman', :name => 'btn_review' do
                    %span Back to review /
                    %span.spain Retroceder a revisar

        .pull-right
          = f.button :submit, :class => 'btn btn-default new_roman' do
            %span Next /
            %span.spain Continuar