#questionare
  = form_for :document_answer, :url => (document_answer_update_path(@document, @answers.first.template_field.template_step.to_i)), :html => { :class => "form-horizontal", :role => 'form', :id => 'answer_form' } do |f|
    %input{ :type => 'hidden', :value => @document.id, :id => 'document_id' }
    %input{ :type => 'hidden', :value => @answers.first.template_field.template_step.to_i, :id => 'step_id' }
    .jumbotron
      .container

        - template_step = @answers.first.template_field.template_step
        = render :partial => 'render_text', :locals => { :answer => template_step.to_question_title }
        %hr
        = render :partial => 'render_text', :locals => { :answer => template_step.description }

    = render :partial => 'answers', :locals => { :f => f }

    .jumbotron
      .container
        .pull-left
          - if template_step.to_i > 1
            = link_to document_answer_path(@document, @document.skip_steps(template_step.to_i.pred, 'back'), :direction => 'back'), :class => 'btn btn-default' do
              %span.new_roman Back /
              %span.new_roman.spain Retroceder
        .pull-right
          -#= f.submit :class => 'form-control' do
          %a.btn.btn-default{ :href => 'javascript: $("#answer_form").submit();' }
            %span.new_roman Next /
            %span.new_roman.spain Continuar
