#questionare
  = form_for :document_answer, :url => (@url), :html => { :class => "form-horizontal", :role => 'form', :id => 'answer_form' } do |f|
    %input{ :type => 'hidden', :value => @document.id, :id => 'document_id' }
    %input{ :type => 'hidden', :value => @answers.first.template_step_id, :id => 'step_id' }
    %input{ :type => 'hidden', :value => @review, :id => 'review' }

    .jumbotron
      .container
        - template_step = @answers.first.template_step
        = render :partial => 'render_text', :locals => { :answer => template_step.to_question_title }
        %hr
        = render :partial => 'render_text', :locals => { :answer => template_step.to_description(@document) }

    = render :partial => 'answers', :locals => { :f => f }

    .jumbotron
      .container
        .pull-left
          - if template_step.to_i > 1 && @review.blank?
            = link_to document_answer_path(@document, @document.skip_steps(template_step.to_i.pred, 'back'), :direction => 'back'), :class => 'btn btn-default' do
              %span.new_roman Back /
              %span.new_roman.spain Retroceder
        .pull-right
          = f.button :submit, :class => 'form-control new_roman' do
            - if @review.present?
              %span Done /
              %span.spain Done
            - else
              %span Next /
              %span.spain Continuar