- text = answer.kind_of?(DocumentAnswer) ? answer.template_field.to_text(@document, @amount_index) : answer
- if text.present?
  / # - index_of_radio = index_of_radio.present? ? index_of_radio : nil
  / # - real_answer = real_answer.present? ? real_answer : nil
  / # - text = replace_main_text(@document, @answers, text, @amount_index, index_of_radio, real_answer)
  - new_text = get_begin_text(text, @count_index)
  - unless new_text.nil?
    %strong.new_roman= "#{new_text.first} /"
    %strong.new_roman.spain= "#{new_text.second} :"
    - text = new_text.last

  - text.split('<spain/>').each_with_index do |value, index|
    - case index
    - when 0
      %strong.new_roman= value.strip.html_safe
    - when 1
      %strong.new_roman.spain= value.strip.html_safe

- if answer.kind_of?(DocumentAnswer) && flash.any?
  - unless @document.check_mandatory answer
    %br
    %span.alert-danger.mandatory-box
      = answer.template_field.mandatory[:hint].split('<spain/>').first
      %span.spain= answer.template_field.mandatory[:hint].split('<spain/>').last