- text = answer.kind_of?(DocumentAnswer) ? answer.template_field.to_text(@document, @amount_index) : answer
- if text.present?

  - if check_physical_custody(@answers)
    - if get_physical_custody == 'Yes' && get_number_of_child(@document) != '1'
      - text.gsub!('the child lives', 'the children live')
      - text.gsub!('el menor vive', 'los menores viven')

  - if text.match(/<insert>/)
    - text = real_answer.template_field.to_text_radio(@document, @amount_index, index_of_radio)

  - unless get_self(@document).nil?
    - if text.match(/<spain_self>/) || text.match(/<uppercase_spain_self>/)
      - if get_self(@document) == 'Wife'
        - text.gsub!('<spain_self>', 'esposo')
        - text.gsub!('<uppercase_spain_self>', 'ESPOSO')
      - else
        - text.gsub!('<spain_self>', 'esposa')
        - text.gsub!('<uppercase_spain_self>', 'ESPOSA')

  - unless get_number_of_child(@document).nil?
    - count = get_number_of_child(@document).to_i
    - sole_count = get_number_of_primary_or_sole_child(@document)
    - if text.match(/<child_count>/) || text.match(/<child_count_spain>/) || text.match(/<residency_child>/) || text.match(/<residency_child_second>/)
      - if count == 1
        - text.gsub!('<child_count>', 'the child')
        - text.gsub!('<child_count_spain>', 'del menor')
        - text.gsub!('<residency_child>', 'El menor debe')
        - text.gsub!('<residency_child_second>', 'Ha vivido el menor')
        - text.gsub!('<el_ellos>', 'él')
        - if text[0] == 't'
          - text[0] = 'T'
      - else
        - text.gsub!('<child_count>', 'children')
        - text.gsub!('<child_count_spain>', 'de los menores')
        - text.gsub!('<residency_child>', 'Los menores deben')
        - text.gsub!('<residency_child_second>', 'Han vivido los menores')
        - text.gsub!('<el_ellos>', 'ellos')
        - if text[0] == 'c'
          - text[0] = 'C'
    - if text.match(/<uppercase_child>/) || text.match(/<uppercase_child_spain>/)
      - if count == 1
        - text.gsub!('<uppercase_child>', 'CHILD')
        - text.gsub!('<uppercase_child_spain>', 'DEL MENOR')
      - else
        - text.gsub!('<uppercase_child>', 'CHILDREN')
        - text.gsub!('<uppercase_child_spain>', 'DE LOS MENORES')



    - if text.match(/<child_number_count>/) || text.match(/<child_number_count_spain>/)
      - if count == 1
        - text.gsub!('<child_count>', '1 child')
        - text.gsub!('<child_count_spain>', '1 menor ')
      - else
        - text.gsub!('<child_count>', "#{count} children")
        - text.gsub!('<child_count_spain>', "#{count} menores")

    - if text.match(/<child_sole_count>/) || text.match(/<child_sole_count_spain>/)
      - if sole_count == 1
        - text.gsub!('<child_sole_count>', '1 child')
        - text.gsub!('<child_sole_count_spain>', '1 menor ')
      - else
        - text.gsub!('<child_sole_count>', "#{sole_count} children")
        - text.gsub!('<child_sole_count_spain>', "#{sole_count} menores")

    - if text.match(/<child_percentage_sole>/) || text.match(/<child_percentage_sole_spain>/)
      - case sole_count
        - when 1
          - text.gsub!('<child_percentage_sole_spain>', '1 niño 18%')
          - text.gsub!('<child_percentage_sole>', '1 child 18%')
        - when 2
          - text.gsub!('<child_percentage_sole_spain>', '2 niños 25%')
          - text.gsub!('<child_percentage_sole>', '2 children 25%')
        - when 3
          - text.gsub!('<child_percentage_sole_spain>', '3 niños 29%')
          - text.gsub!('<child_percentage_sole>', '3 children 29%')
        - when 4
          - text.gsub!('<child_percentage_sole_spain>', '4 niños 31%')
          - text.gsub!('<child_percentage_sole>', '4 children 31%')
        - when 5
          - text.gsub!('<child_percentage_sole_spain>', '5 niños 33%')
          - text.gsub!('<child_percentage_sole>', '5 children 33%')
        - when 6
          - text.gsub!('<child_percentage_sole_spain>', '6 niños 35%')
          - text.gsub!('<child_percentage_sole>', '6 children 35%')
        - when 7
          - text.gsub!('<child_percentage_sole_spain>', '7 niños 37%')
          - text.gsub!('<child_percentage_sole>', '7 children 37%')
        - when 8
          - text.gsub!('<child_percentage_sole_spain>', '8 niños 39%')
          - text.gsub!('<child_percentage_sole>', '8 children 39%')
        - when 9
          - text.gsub!('<child_percentage_sole_spain>', '9 niños 41%')
          - text.gsub!('<child_percentage_sole>', '9 children 41%')

  - if text.match(/<defendant_full_name>/) || text.match(/<defendant_full_name_spain>/)
    - defendant_name = get_defendant_full_name @document
    - text.gsub!('<defendant_full_name>', defendant_name)
    - text.gsub!('<defendant_full_name_spain>', defendant_name)

  - new_text = get_begin_text(text, @count_index)
  - unless new_text.nil?
    %strong.new_roman= "#{new_text.first} /"
    %strong.new_roman.spain= "#{new_text.second} :"
    - text = new_text.last

  - text.split('<spain/>').each_with_index do |value, index|
    - case index
    - when 0
      %strong.new_roman= value.strip.html_safe
    - when 1
      %strong.new_roman.spain= value.strip.html_safe

- if answer.kind_of?(DocumentAnswer) && flash.any?
  - unless @document.check_mandatory answer
    %br
    %span.alert-danger.mandatory-box
      = answer.template_field.mandatory[:hint].split('<spain/>').first
      %span.spain= answer.template_field.mandatory[:hint].split('<spain/>').last