.container
  %h5 REVIEW YOUR ANSWERS AND EDIT IF NECESSARY
  %h5.spain REVISE SUS RESPUESTAS Y HAY CUALQUIER CAMBIO QUE SEA NECESARIO
  %hr
  - field_type_to_show = ['checkbox', 'text']

  - @document.template.steps.each do |step|
    %div{ :id => "scroll_#{step.id}" }
    - next if @document.cant_render?(step)

    .row
      .col-md-10
        %strong.new_roman= step.to_s(@document).split('<spain/>')[0]
        %strong.new_roman.spain= step.to_s(@document).split('<spain/>')[1]

      .col-md-2
        = link_to document_answer_path(@document, step.step_number, :review => true), :class => 'btn btn-default' do
          %span.new_roman Change /
          %span.new_roman.spain Cambiar

    .row
      .col-md-12
        %table{ :style => 'width: 80%; margin-left: 20px' }
          - last_toggle = nil
          - main_answer = nil
          - amount_index = 0
          - @document.answers.where(:template_step_id => step.id).order(:id).each do |answer|

            - if answer.template_field.id == @document.answers.where(:template_step_id => step.id).order(:id).first.template_field.id && answer.id != @document.answers.where(:template_step_id => step.id).order(:id).first.id
              %tr
                %td
                  %hr

            - next if answer.template_field.insert_place.present?
            - next if answer.answer.nil? && !field_type_to_show.include?(answer.template_field.field_type)
            - if answer.template_field.toggle_id.present?

              - if last_toggle != answer.template_field.toggle_id
                - last_toggle = answer.template_field.toggle_id
                - main_answer = answer

              - if last_toggle == answer.template_field.toggle_id
                - if main_answer.answer.present? && !main_answer.answer.match(answer.template_field.toggle_option.presence || '') || answer.template_field.toggle_option.nil? && main_answer.answer == '0'
                  - next# if !field_type_to_show.include?(answer.template_field.field_type)

            - amount_index += 1 if answer.template_field.name.present? && answer.template_field.name.match(/<insert>/)
            - answer_html_array = answer.to_html_array(amount_index)
            %tr
              - if field_type_to_show.include? answer.template_field.field_type
                %td
                  = answer_html_array[0].split('<spain/>')[0].try :html_safe
                  %span.spain= answer_html_array[0].split('<spain/>')[1].try :html_safe
              - else
                %td.answer= answer_html_array[1]
    .row
      %br
      %hr

  .row
    .col-md-6
      = link_to 'Generate PDF', generate_pdf_path(@document.id), :class => 'btn btn-default navbar-right'


:javascript
  if($("#scroll_#{flash[:scroll]}").length > 0)
    $(window).scrollTop( $("#scroll_#{flash[:scroll]}").position().top - 20 );

