.container
  %h5 REVIEW YOUR ANSWERS AND EDIT IF NECESSARY
  %h5.spain REVISE SUS RESPUESTAS Y HAY CUALQUIER CAMBIO QUE SEA NECESARIO

  - @document.template.steps.each do |step|

    .row
      .col-md-10
        - step_array = step.title.split('<spain/>')
        - if step_array.first.match(/<br\/>/)
          - text_new = step_array.first.gsub!('<br/>', '/')
          %strong.new_roman= "#{ text_new }"
          %strong.new_roman.spain= "#{step_array.last}:"
        - elsif step_array.first.match(/<child_count>/) || step_array.first.match(/<child_count_spain>/)
          - count_children = get_number_of_child(@document).to_i
          - unless count_children.nil?
            - if count_children == 1
              - text_first = step_array.first.gsub('<child_count>', 'the child')
              - text_first[0] = 'T' if text_first[0] == 't'
              - text_second = step_array.last.gsub('<child_count_spain>', 'el menor ')
            - else
              - text_first = step_array.first.gsub('<child_count>', 'children')
              - text_first[0] = 'C' if text_first[0] == 'c'
              - text_second = step_array.last.gsub('<child_count_spain>', 'los menores')
            - if text.match(/<uppercase_child>/) || text.match(/<uppercase_child_spain>/)
              - if count_children == 1
                - text.gsub!('<uppercase_child>', 'CHILD')
                - text.gsub!('<uppercase_child_spain>', 'DEL MENOR')
              - else
                - text.gsub!('<uppercase_child>', 'CHILDREN')
                - text.gsub!('<uppercase_child_spain>', 'DE LOS MENORES')
            %strong.new_roman= "#{text_first}"
            %strong.new_roman.spain= "#{text_second}:"
        - else
          %strong.new_roman= "#{step_array.first}"
          %strong.new_roman.spain= "#{step_array.last}:"
      .col-md-2
        = link_to document_answer_path(@document, step.step_number, :review => true), :class => 'btn btn-default' do
          %span.new_roman Change /
          %span.new_roman.spain Cambiar
      %br
      %br
  .row
    .col-md-6
      = link_to 'Generate PDF', generate_pdf_path(@document.id), :class => 'btn btn-default navbar-right'