!!! HTML
%html{ :lang => 'en' }
  %head
    %title Betterhood
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=EDGE" }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }

    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tag

    = yield :head

  %body
    = render :partial => 'layouts/navigation'

    .container
      .row
        .col-md-12
          = render :partial => 'layouts/messages'

    = yield